.app {
    overflow: hidden;
}

.header__container {
    height: var(--header-height);
    background-image: url(../images/work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__container::before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    height: var(--header-height);
}


/* Header Navar PC */
.header__navbar {
    display: flex;
    justify-content: center;
    height: var(--navbar-height);
}

.header__navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 30px 0px;
}

.header__navbar-item {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 34px;
    text-decoration: none;
}

.header__navbar-link {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.header__navbar-item .header__navbar-link:hover {
    color: var(--white-color);
    transition: all 0.5s ease 0s;
}

.header__navbar-icon {
    margin-left: 10px;
    font-size: 1rem;
}

.header__navbar-sublist {
    position: absolute;
    top: 30px;
    left: -17px;
    right: 0px;
    background-color: var(--white-color);
    width: 182px;
    height: 138px;
    box-shadow: var(--box-shadow);
    padding: 18px 0px;
    border-radius: 2px;
    border-top: 3px solid var(--primary-color);
    animation: headerNavbar 0.2s linear;
    display: none;
}

.header__navbar-sublist::before {
    content: "";
    position: absolute;
    right: 104px;
    top: -18px;
    cursor: pointer;
    border-width: 20px 40px;
    border-style: solid;
    border-color: transparent;
}

.header__navbar-item:hover .header__navbar-sublist {
    display: block;
}

.header__navbar-subitem {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
}

.header__navbar-subitem .header__navbar-sublink:hover {
    color: var(--primary-color);
    transition: all 0.2s ease 0s;
}

.header__navbar-sublink {
    display: block;
    color: var(--black-color);
    text-decoration: none;
    padding: 10px 20px;
}


/* Header Navbar Tablet And Mobile*/
.header__navbar-tablet-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: var(--white-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

/* Button close */
.header__navbar-tablet-mobile-btn {
    margin-left: 8px;
    cursor: pointer;
}

.header__navbar-tablet-mobile-icon-list {
    position: relative;
    font-size: 2.5rem;
    color: var(--white-color);
    margin-top: 32px;
    margin-left: 32px;
    width: 40px;
    height: 40px;
}

.nav__overlay-tablet-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: fadeIn linear 0.3s;
    z-index: 1;
}

.header__navbar-tablet-mobile-checkbox:checked~.nav__overlay-tablet-mobile {
    display: block;
}

.header__navbar-tablet-mobile-checkbox:checked~.header__navbar-tablet-mobile {
    z-index: 2;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.header__navbar-tablet-mobile-icon-close {
    position: absolute;
    font-size: 2.6rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.header__navbar-tablet-mobile-icon-close:hover {
    color: var(--primary-color);
    transition: all 0.3s ease 0s;
}

.header__navbar-tablet-mobile-list {
    margin-top: 46px;
}

.header__navbar-tablet-mobile-item {
    position: relative;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 34px;
    text-decoration: none;
}

.header__navbar-tablet-mobile-link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--black-color);
    text-decoration: none;
    padding: 12px 0;
}

.header__navbar-tablet-mobile-link:hover {
    color: var(--primary-color);
    transition: all 0.5s ease 0s;
}

.header__navbar-tablet-mobile-icon-down {
    margin-left: 10px;
    font-size: 1.4rem;
    position: absolute;
    right: 0;
}

.header__navbar-tablet-mobile-sublist {
    display: none;
    padding-left: 20px;
    border-left: 2px solid var(--primary-color);
    animation: slideIn 0.5s ease 0s;

}

.header__navbar-tablet-mobile-subitem {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
}

.header__navbar-tablet-mobile-sublink {
    display: block;
    color: var(--black-color);
    text-decoration: none;
    padding: 10px 20px;
}

.header__navbar-tablet-mobile-sublink:hover {
    color: var(--primary-color);
    transition: all 0.5s ease 0s;
}

.header__navbar-tablet-mobile-dropdown-checkbox:checked~.header__navbar-tablet-mobile-sublist {
    display: block;
}

/* Header Title */
.header__title {
    position: relative;
    margin-top: 200px;
}

.header__title h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    font-size: 4.2rem;
    line-height: 5.2rem;
}

.header__title p {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
}

.header__title p::before {
    content: "";
    display: block;
    width: 180px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 28px auto;
}


/* App Container */
.app__container {
    background-color: #f5f5f5;
}

.avatar-img {
    max-width: 100%;
    height: auto;
}


/* About me */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 0;
}

.about-me__info {
    background-color: var(--white-color);
    border: 1px solid var(--separate-color);
    border-radius: 5px;
    padding: 40px 0 12px 40px;
}

.about-me__info h2 {
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.about-me__info span {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    color: #333;
}

.about-me__info span::before {
    content: "";
    display: block;
    width: 180px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 30px 0;
}

.about-me__info p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 40px 28px 0;
}


/* My skill */
.my-skill {
    padding: 100px 50px;
    background-color: var(--white-color);
    border: 1px solid var(--separate-color);
    border-radius: 5px;
}

.my-skill__info h2 {
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.my-skill__info span {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.my-skill__info span::before {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 30px auto;

}

.my-skill__info p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 0;
}

.my-skill__progress {
    width: 100%;
    margin: 26px 0;
}

.my-skill__progress h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
    margin: 40px 0;
}


/* Progress */
.progress-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-per-html {
    position: relative;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    background-color: var(--progress-color);
}

.progress-per-css {
    position: relative;
    display: block;
    height: 100%;
    width: 73%;
    border-radius: 6px;
    background-color: var(--progress-color);
}

.progress-per-design {
    position: relative;
    display: block;
    height: 100%;
    width: 60%;
    border-radius: 6px;
    background-color: var(--progress-color);
}

.progress-per-bootstrap {
    position: relative;
    display: block;
    height: 100%;
    width: 30%;
    border-radius: 6px;
    background-color: var(--progress-color);
}

.tooltip {
    position: absolute;
    right: -14px;
    top: -30px;
    border-radius: 2px;
    background-color: var(--progress-color);
    color: var(--white-color);
    padding: 2px 4px;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--progress-color) transparent transparent transparent;
}


/* My resume */
.my-resume {
    display: flex;
    align-items: center;
    padding: 100px 12px;
}

.my-resume__container {
    background-color: var(--white-color);
    padding: 32px;
}

.my-resume h2 {
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.my-resume__info {
    margin: 16px 0;
}

.my-resume__education,
.my-resume__experience {
    padding: 16px 0;
}

.my-resume__education::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--separate-color);
    margin-top: 48px;
}

.my-resume__education h3,
.my-resume__experience h3 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.my-resume__education-wrapper,
.my-resume__experience-wrapper {
    border: 1px solid var(--separate-color);
    border-radius: 4px;
}

.my-resume__education-wrapper:hover,
.my-resume__experience-wrapper:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: linear 0.2s;
}

.my-resume__education-content,
.my-resume__experience-content {
    padding: 16px 30px;
}

.my-resume__education-high-school,
.my-resume__education-university,
.my-resume__experience-web-designer,
.my-resume__experience-front-end,
.my-resume__experience-back-end {
    display: flex;
    justify-content: space-between;
}

.high-school,
.high-school-calendar,
.university,
.university-calendar,
.web-designer,
.web-designer-calendar,
.front-end,
.front-end-calendar,
.back-end,
.back-end-calendar {
    padding: 12px 0 8px;
}

.high-school__icon,
.high-school-calendar__icon,
.university__icon,
.university-calendar__icon,
.web-designer__icon,
.web-designer-calendar__icon,
.front-end__icon,
.front-end-calendar__icon,
.back-end__icon,
.back-end-calendar__icon {
    font-size: 1.4rem;
    color: var(--icon-color);
}

.high-school__title,
.high-school-calendar__time,
.university__title,
.university-calendar__time,
.web-designer__title,
.web-designer-calendar__time,
.front-end__title,
.front-end-calendar__time,
.back-end__title,
.back-end-calendar__time {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 12px;
}

.img-workspace {
    max-width: 100%;
    height: auto;
}


/* Work */
.work {
    padding: 80px 12px;
}

.work__title {
    text-align: center;
}

.work__title h2 {
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.work__title p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 0;
}

.wrapper-img {
    position: relative;
    overflow: hidden;
}

.media-img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.content:hover {
    opacity: 1;
}

.content h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--white-color);
}

.content p {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white-color);
}


/* Work Wrapper */
.work-wrapper {
    padding: 30px;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
}

.work-img {
    max-width: 100%;
    height: auto;
}

.work-first-column,
.work-second-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.strategy,
.web-development,
.art-direction,
.copy-writing {
    margin: 20px 0 40px 20px;
}

.strategy p,
.web-development p,
.art-direction p,
.copy-writing p {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 0;
}

.strategy a,
.web-development a,
.art-direction a,
.copy-writing a {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white-color);
}

.strategy a:hover,
.web-development a:hover,
.art-direction a:hover,
.copy-writing a:hover {
    text-decoration: none;
}

.strategy-header,
.web-development-header,
.art-direction-header,
.copy-writing-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.strategy-header__icon,
.web-development-header__icon,
.art-direction-header__icon,
.copy-writing-header__icon {
    font-size: 2.4rem;
    color: var(--white-color)
}

.strategy-header h3,
.web-development-header h3,
.art-direction-header h3,
.copy-writing-header h3 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--white-color);
    margin: 0 0 0 16px;
}


/* Services */
.services-title {
    padding: 100px 12px 0 12px;
}

.services-title h2 {
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.services-header {
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.services-container {
    padding: 80px 12px;
}

.services-development,
.services-design,
.services-eCommerce {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
}

.services-development:hover,
.services-design:hover,
.services-eCommerce:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: linear 0.2s;
}

.services-development__icon,
.services-design__icon,
.services-eCommerce__icon {
    font-size: 5rem;
    color: var(--primary-color);
}

.services-development h4,
.services-design h4,
.services-eCommerce h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 28px 0;
}

.services-development p,
.services-design p,
.services-eCommerce p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 0;
}


/* Pricing */
.pricing-title {
    padding: 100px 12px 0 12px;
}

.pricing-title h2 {
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.2rem;
    font-weight: 500;
    margin: 0;
}

.pricing-container {
    padding: 80px 12px;
}

.basic-plan,
.beginner-plan,
.premium-plan {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 30px;
}

.basic-plan:hover,
.beginner-plan:hover,
.premium-plan:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: linear 0.2s;
}

.basic-plan h4,
.beginner-plan h4,
.premium-plan h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 24px 0;
}

.basic-plan p,
.beginner-plan p,
.premium-plan p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 28px 0;
}

.basic-plan a,
.beginner-plan a,
.premium-plan a {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    display: block;
    width: 100%;
    padding: 16px 8px;
    margin: 24px 0;
}

.basic-plan a:hover,
.beginner-plan a:hover,
.premium-plan a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.5s ease 0s;
}

.basic-plan__price,
.beginner-plan__price,
.premium-plan__price {
    padding: 20px 0;
}

.basic-plan__price span:nth-child(1),
.beginner-plan__price span:nth-child(1),
.premium-plan__price span:nth-child(1) {
    position: relative;
    top: -20px;
    font-size: 2.4rem;
    color: var(--primary-color);
}

.basic-plan__price span:nth-child(2),
.beginner-plan__price span:nth-child(2),
.premium-plan__price span:nth-child(2) {
    font-size: 5rem;
    color: var(--primary-color);
}

.basic-plan__price span:nth-child(3),
.beginner-plan__price span:nth-child(3),
.premium-plan__price span:nth-child(3) {
    font-size: 1.6rem;
    color: var(--primary-color);
}

