/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}


/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-and-tablet {
        display: none;
    }

    /* Button close */
    .header__navbar-tablet-mobile-btn {
        display: flex;
        align-items: center;
    }

    /* .my-resume {
        display: flex;
        flex-direction: column-reverse;
    } */
}


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* .strategy {
        margin: 20px 0 40px 20px;
    }

    .strategy-header h3 {
        margin: 0 0 0 16px;
    }
   
    .web-development {
        margin: 20px 0 40px 20px;
    }

    .web-development-header h3 {
        margin: 0 0 0 16px;
    }

    .art-direction {
        margin: 20px 0 40px 20px;
    }

    .art-direction-header h3 {
        margin: 0 0 0 16px;
    }

    .copy-writing {
        margin: 20px 0 40px 20px;
    }

    .copy-writing-header h3 {
        margin: 0 0 0 16px;
    } */
}


/* Mobile */
@media (max-width: 739px) {
    
}